.current-weather-container {
  width: 50vw;
  min-width: 300px;
  margin: 100px auto;
  padding: 20px;

  display: flex;
  flex-direction: column;

  background-color: white;
  box-shadow: 0 0 10px var(--shadeColor);
  border: 2px white solid;
  border-radius: 10px;
}
