.searchbar {
  margin: auto;
  width: 50vw;
  min-width: 300px;
  height: 50px;

  display: flex;
  flex-direction: column;

  background-color: var(--shadeColor);
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.searchbar-expanded {
  border-radius: 0px 0px 0px 0px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25);
}

.searchbar-input {
  margin: auto 0px;
  width: 45vw;
  min-width: 270px;

  align-self: center;

  border: none;
  background-color: var(--shadeColor);
}
.searchbar-input:focus {
  outline: none;
}

.search-results-container {
  position: absolute;
  top: 50px;

  width: 50vw;
  min-width: 300px;

  padding: 10px 2.5vw;

  background-color: var(--shadeColor);
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25);
}
.search-results-preloader {
  text-align: center;
}
.searchbar-result {
  padding: 20px 0px;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.searchbar-result:hover {
  text-shadow: 20px wheat;
}
.searchbar-no-results {
  padding: 20px 0px;
  font-size: 1.2rem;
}
